<div class="wrapper">
  <div class="sidebar" data-color='red' data-image="">
    <sidebar-cmp></sidebar-cmp>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>

    <div class="main-content">
    <div class="container-fluid">
        <!--<div class="row">
            <div class="col-md-12">
            <a href="#"><img src="/assets/img/available_devs_link.png" height="100%" width="100%" alt=""></a>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Announcements</h4>
                    </div>
                    <div class="card-content">
                        <div id="typography">
                            <div class="title">
                                <a href="#"><img src="/assets/img/available_devs_link.png" height="100%" width="100%" alt=""></a>
                            </div>
                            <div class="row">
                                <div class="tim-typo">
                                    <span class="tim-note">Employee of the Month</span>
                                    <blockquote>
                                    <p>
                                    We'd like to congratulate Mark Amoin for being our Employee of the Month in April!  Do you think one of your employees deserves this kind of recognition?  Please let you supervisor contact know in your feedback this month!                                    </p>
                                    <small>
                                    Posted on Apr 20, 2017 12:42:39 AM
                                    </small>
                                    </blockquote>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


  </div>
</div>
